# Data download and cleaning. (and more)
It uses two datasets form Estonian open data.  
[Status of vehicles in Estonia](https://avaandmed.eesti.ee/datasets/soidukite-staatused-eestis) and [Roadworthiness tests of land vehicles in Estonia](https://avaandmed.eesti.ee/datasets/maismaasoidukite-tehnoulevaatused-eestis)

### Download data

In [11]:
# SÃµidukite staatused avaandmetena M1 ja M1G 2023.csv from Status... as vehicle_status.csv
# SÃµidukite staatused avaandmetena va M1 ja M1G 2023.csv from Status... as vehicle_status1.csv
# yv_2023.csv from Road... as vehicle_roadworthiness.csv
# RIKKED codes are in file rike.csv from  Road...

In [16]:
import pandas as pd

# Read vehicle_status.csv
vehicle_status = pd.read_csv('vehicle_status.csv', delimiter=';', low_memory=False)
vehicle_status1 = pd.read_csv('vehicle_status1.csv', delimiter=';', low_memory=False)

vehicle_status = vehicle_status.append(vehicle_status1)

vehicle_roadworthiness = pd.read_csv('vehicle_roadworthiness.csv', delimiter=',')
rikke_koodid = pd.read_csv('rike.csv')

/tmp/ipykernel_9524/1394200247.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vehicle_status = vehicle_status.append(vehicle_status1)

In [10]:
vehicle_roadworthiness.head(10)

          TEHNOYLEVAATUSPUNKT PUNKTI_KOOD  ...  KATEGOORIA          KERETYYP
0             Amserv Viljandi          DE  ...          M1        UNIVERSAAL
1        A-Ülevaatus OÜ (Rae)          MR  ...          M1           LAHTINE
2                  3D Auto OÜ          TR  ...          M1            SEDAAN
3                JarmaAuto OÜ          MJ  ...          M1        UNIVERSAAL
4  E-Tehno OÜ (Tartu Turu tn)          TO  ...          O1             MADEL
5                 AK Tehno OÜ          MN  ...          M1        UNIVERSAAL
6       A-Ülevaatus OÜ (Kiiu)          MG  ...          M1          LUUKPÄRA
7                 Metra AP OÜ          KM  ...         R3B            KALLUR
8           E-Tehno OÜ (Elva)          TF  ...          O2  SIHTOTSTARBELINE
9       A-Ülevaatus OÜ (Revo)          AH  ...          M1            SEDAAN

[10 rows x 13 columns]

In [18]:
vehicle_status.head(10)

  Andmed seisuga YLDINE_STAATUS  ...  VK/OM TYYP_ ARV
0     01.12.2023       PEATATUD  ...    FYYSILINE   1
1     01.12.2023       PEATATUD  ...    FYYSILINE   1
2     01.12.2023       PEATATUD  ...    FYYSILINE   1
3     01.12.2023       PEATATUD  ...    FYYSILINE   1
4     01.12.2023       PEATATUD  ...  JURIIDILINE   1
5     01.12.2023       PEATATUD  ...    FYYSILINE   1
6     01.12.2023       PEATATUD  ...    FYYSILINE   1
7     01.12.2023       PEATATUD  ...    FYYSILINE   1
8     01.12.2023       PEATATUD  ...    FYYSILINE   1
9     01.12.2023       PEATATUD  ...    FYYSILINE   1

[10 rows x 28 columns]

In [23]:
for c in vehicle_status.columns:
    print(f"\n\n\n{c}")
    print(vehicle_status[c].value_counts())

Andmed seisuga
01.12.2023    1290757
Name: Andmed seisuga, dtype: int64



YLDINE_STAATUS
REGISTREERITUD    996633
PEATATUD          294124
Name: YLDINE_STAATUS, dtype: int64



EESTIS_ESMAREG_KP
01.01.1900    2582
01.01.1990    1155
01.01.1989     894
01.01.1988     887
01.01.1987     847
              ...
02.10.1953       1
29.08.1953       1
18.07.1953       1
19.06.1953       1
01.01.0987       1
Name: EESTIS_ESMAREG_KP, Length: 15263, dtype: int64



ESMANE_REG_KP
01.01.1991    12664
01.01.1988    12082
01.01.1989    12060
01.01.1990    11716
01.01.1987    11041
              ...
20.06.1958        1
09.09.1958        1
21.01.1959        1
07.03.1959        1
29.09.2013        1
Name: ESMANE_REG_KP, Length: 15941, dtype: int64



KAIGUKASTI_TYYP
MANUAAL                475527
AUTOMAAT               366352
CVT                     76820
KONSTANTNE_YLEKANNE      1798
AUTOMAT_MANUAAL           973
MUU                       659
DCT                       219
HYDRAULILINE              108
RUMMUSISENE                63
AMT                        56
Name: KAIGUKASTI_TYYP, dtype: int64



Kütuse tüüp
BENSIIN      590417
DIISEL       538526
ELEKTER        6617
CNG            3755
BIODIISEL       426
LPG              93
LNG               6
CNG-HL            3
Name: Kütuse tüüp, dtype: int64



MOOTORI_TYYP
DIISEL                  532174
BENSIIN_KATALYSAATOR    430177
BENSIIN                 128443
BENSIIN_HYBRIID          31798
DIISEL_HYBRIID            6778
ELEKTER                   6617
CNG                       3755
LPG                         93
GAAS                         9
Name: MOOTORI_TYYP, dtype: int64



MOOTORI_MAHT
0.0        148536
1598.0      53315
1968.0      44628
1896.0      36749
1997.0      32710
            ...
6997.0          1
10958.0         1
6444.0          1
3270.0          1
818.0           1
Name: MOOTORI_MAHT, Length: 3291, dtype: int64



MOOTORI_VOIMSUS
0.0      133857
110.0     69713
85.0      51973
55.0      49804
66.0      45795
          ...
475.0         1
816.0         1
304.0         1
396.0         1
579.0         1
Name: MOOTORI_VOIMSUS, Length: 477, dtype: int64



HYBRIIDI_TYYP
NOVC_HEV     35524
OVC_HEV       2670
OVC_FCHV        16
NOVC_FCHV        3
Name: HYBRIIDI_TYYP, dtype: int64



Kütusekombinatsioon
BENSIIN                    547140
DIISEL                     531599
BENSIIN-ELEKTER             31080
BENSIIN-LPG                  8566
DIISEL-ELEKTER               6773
ELEKTER                      6612
CNG                          3737
BENSIIN-CNG                  2504
BENSIIN-ELEKTER-LPG           656
BIODIISEL                     426
BENSIIN-ETANOOL               382
LPG                            93
BENSIIN-ETANOOL-LPG            79
DIISEL-XTL                     69
DIISEL-CNG                     55
CNG-LPG                        18
DIISEL-LPG                     18
DIISEL-BIODIISEL                9
LNG                             6
BENSIIN-CNG-ETANOOL             6
ELEKTER-VESINIK                 5
DIISEL-LNG                      3
CNG-HL                          3
BENSIIN-CNG-LPG                 3
BENSIIN-ELEKTER-ETANOOL         1
Name: Kütusekombinatsioon, dtype: int64



CO2_NEDC
159.0    14537
139.0    13362
149.0    13080
119.0    11590
129.0     9713
         ...
401.0        1
8.0          1
15.0         1
539.0        1
499.0        1
Name: CO2_NEDC, Length: 440, dtype: int64



CO2_WLTP
0.0      5170
193.0    2683
129.0    2291
146.0    2136
161.0    2102
         ...
417.0       1
385.0       1
84.0        1
421.0       1
409.0       1
Name: CO2_WLTP, Length: 386, dtype: int64



Kategooria
M1       792278
O1        96775
N1        91256
M1G       72010
L3e       38398
N3        27258
O2        22946
L1e       21392
O4        21040
T1        16465
N1G       14863
N2        12221
LM         9487
TR         7100
R3A        5771
L7e        5030
T3b        4940
T5         4511
M3         4046
MS1        3721
L6e        2629
TH         2308
L4e        2283
MS2        1970
T1b        1814
M2         1135
T1a         995
N2G         980
R2A         703
N3G         672
T2          618
T2a         461
TR1         452
O3          428
L5e         360
R3B         353
T3          295
R4A         200
R4B         195
TH1         142
T2b          57
L2e          55
R1A          41
T3a          33
RO           24
C1           15
C4.2         10
T4.2          7
T4.3          4
R2B           4
R1B           4
TR2           1
T4.3a         1
Name: Kategooria, dtype: int64



Keretüüp
AC              192859
DC              121566
AF               87630
AA               61349
AB               54237
BB               45422
DA               17224
Kereta           12681
BC                8207
Kabiiniga         8101
BA                7761
Ratastega         4771
AD                4509
BE                2859
DB                2376
AE                2276
Kerega            1644
Turvaraamiga      1081
SA                 832
CE                 798
CA                 287
CG                 254
CQ                 168
Roomikutega        114
SG                  85
CW                  47
CR                  45
CI                  44
SC                  44
SF                  33
BD                  19
SE                  14
SD                  10
CM                   8
CU                   7
AG                   6
BX                   6
SB                   3
SJ                   1
Name: Keretüüp, dtype: int64



Mark
VOLKSWAGEN        118441
TOYOTA             81011
FORD               71784
BMW                70107
AUDI               65882
                   ...
BÜRK & SCHABER         1
SNOW HAWK              1
RALLY                  1
MEUSER                 1
MIELE                  1
Name: Mark, Length: 4098, dtype: int64



Mudel
PASSAT                 22155
GOLF                   19736
OCTAVIA                18868
AVENSIS                15078
COROLLA                14608
                       ...
EUROCARGO ML 100E15        1
270 LJO                    1
MACH Z ADRENALINE          1
STEVR 30/22                1
AT5 L                      1
Name: Mudel, Length: 34797, dtype: int64



REG_MASS
750.0      76460
3500.0     27715
18000.0    15877
2000.0     12418
2100.0     12337
           ...
3606.0         1
31780.0        1
697.0          1
3445.0         1
18145.0        1
Name: REG_MASS, Length: 4685, dtype: int64



TAISMASS
750.0      76694
3500.0     27360
2000.0     12462
2100.0     12334
1820.0     11424
           ...
23705.0        1
18370.0        1
927.0          1
9180.0         1
18145.0        1
Name: TAISMASS, Length: 4502, dtype: int64



TYHIMASS
140.0      7340
1045.0     6698
1505.0     6068
1395.0     5066
1350.0     4573
           ...
9161.0        1
7956.0        1
9557.0        1
7023.0        1
17634.0       1
Name: TYHIMASS, Length: 10122, dtype: int64



TELGI_KOKKU
2.0    1147926
1.0     102156
3.0      33588
4.0       2604
0.0       2537
5.0         57
6.0         14
8.0          3
9.0          1
7.0          1
Name: TELGI_KOKKU, dtype: int64



HEITMENORM
EURO4        164405
EURO5        149126
EURO6        145766
EURO 6 AP     54216
EURO3         52435
              ...
EURO 6 AJ         1
EURO 6 BC         1
EURO 6 BA         1
EURO V K          1
EURO 6 P          1
Name: HEITMENORM, Length: 78, dtype: int64



VARV
HALL            273034
MUST            235696
VALGE           163554
PUNANE          111306
SININE           99411
HOBEDANE         70318
ROHELINE         48422
TUMESININE       46145
TUMEHALL         43591
PRUUN            29698
BEEZ             29275
HELEHALL         22394
TUMEPUNANE       21403
TUMEROHELINE     20442
KOLLANE          18931
ORANZ            11967
HELESININE        9924
HELEROHELINE      7654
LILLA             6454
HELEBEEZ          5937
KULDNE            5139
TUMEPRUUN         4674
HELEPRUUN         3245
MAARAMATA          793
HELEKOLLANE        569
TUMEKOLLANE        476
ROOSA              206
HELEPUNANE          99
Name: VARV, dtype: int64



ISTEKOHTI
5.0     768689
0.0     151437
2.0     135565
7.0      62409
3.0      56833
         ...
83.0         2
79.0         1
89.0         1
85.0         1
93.0         1
Name: ISTEKOHTI, Length: 88, dtype: int64



Kere nimetus

UNIVERSAAL          331983
SEDAAN              211158
LUUKPÄRA            176445
MADEL               107825
MAHTUNIVERSAAL       97828
                     ...
SOOMUSSÕIDUK             2
MOTOKÄRU                 1
KLAASIVEOK               1
REDELAUTO                1
PURILENNUKI VEOK         1
Name: Kere nimetus, Length: 77, dtype: int64



VK/OM MAAKOND
HARJU MAAKOND         503530
TARTU MAAKOND         148506
IDA-VIRU MAAKOND       90645
PÄRNU MAAKOND          89984
LÄÄNE-VIRU MAAKOND     65389
VILJANDI MAAKOND       53759
VÕRU MAAKOND           45336
SAARE MAAKOND          44379
RAPLA MAAKOND          42290
JÄRVA MAAKOND          35924
JÕGEVA MAAKOND         34885
PÕLVA MAAKOND          34409
VALGA MAAKOND          32148
MÄÄRAMATA              31633
LÄÄNE MAAKOND          23245
HIIU MAAKOND           14695
Name: VK/OM MAAKOND, dtype: int64



VK/OM TYYP_
FYYSILINE      982530
JURIIDILINE    308207
Name: VK/OM TYYP_, dtype: int64



ARV
1    1289873
2        747
3         94
4         21
5         15
6          4
9          1
8          1
7          1
Name: ARV, dtype: int64